<h1 style='text-align:center; font-weight:1000'>
    Estadística Inferencial
</h1>

## **Librerias**

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
pd.options.display.max_columns = False

In [3]:
import random
import io

## **1. Funciones de muestreo**

In [132]:
df = pd.read_csv('Data/econdata.csv')

In [8]:
df.head(1)

   id                 geo_point_2d                                          geo_shape  ... perimetro     tipo       nom_id
0   0  19.424781053,-99.1327537959  {"type": "Polygon", "coordinates": [[[-99.1332...  ...         B  Mercado  Pino Suárez

[1 rows x 8 columns]

### **1.1 Muestreo aleatorio simple**

In [23]:
df.sample(8)

      id                  geo_point_2d  ...     tipo                              nom_id
84    84  19.4426697365,-99.1426738122  ...    Hotel                        Las Americas
147  147  19.4383757081,-99.1416066037  ...  Mercado                          2 de Abril
110  110  19.4356877258,-99.1387888649  ...    Museo  Museo interactivo de economía Mide
42    42  19.4368553413,-99.1196435872  ...    Hotel                      HOTEL RRO MI1O
24    24   19.4285279152,-99.147008562  ...    Hotel                              Fornos
69    69      19.43558625,-99.12965746  ...    Hotel                        Templo Mayor
2      2  19.4340695945,-99.1306348409  ...    Museo                        Santa Teresa
134  134  19.4297026585,-99.1459903503  ...  Mercado                   Floreria San Juan

[8 rows x 8 columns]

### **1.2 Muestreo sistemático**

In [82]:
posicion_inicial = 0
posicion_final = len(df)
steps = 3

df.iloc[list(range(posicion_inicial,posicion_final,steps)),:]

      id                  geo_point_2d  ...     tipo                  nom_id
0      0   19.424781053,-99.1327537959  ...  Mercado             Pino Suárez
3      3      19.42489472,-99.12073393  ...    Hotel                Balbuena
6      6      19.43553422,-99.12324801  ...    Hotel    San Antonio Tomatlan
9      9  19.4407152937,-99.1498060057  ...    Hotel                 Detroit
12    12      19.43990186,-99.14813347  ...    Hotel                  La Paz
..   ...                           ...  ...      ...                     ...
216  216  19.4247697438,-99.1249707246  ...  Mercado  Lamininas de La Merced
219  219  19.4234096295,-99.1438351156  ...    Hotel          Prado Floresta
222  222   19.4397905042,-99.134628735  ...    Hotel                  Ladero
225  225      19.43094655,-99.12455418  ...    Hotel           Gran Veracruz
228  228  19.4406567734,-99.1394531646  ...    Museo        Tequila y Mescal

[77 rows x 8 columns]

### **1.3 Muestreo estratificado**

In [134]:
df['category'] = df['delegacion'] + '_' + df['tipo']

In [135]:
pd.DataFrame(round(df['category'].value_counts()/len(df) * 100, 2))

                             category
Cuautémoc_Hotel                 64.35
Cuautémoc_Museo                 15.65
Venustiano Carranza_Hotel        7.83
Cuauhtémoc_Mercado               7.39
Venustiano Carranza_Mercado      4.78

In [157]:
df_est = pd.DataFrame(columns = df.columns)
muestra = 0.25

for i in set(df['category']):
    df_muestra = df.query(f'category == "{i}"').sample(int(muestra * len(df.query(f'category == "{i}"')))).copy()
    df_est = pd.concat([df_est, df_muestra], axis=0)

In [165]:
pd.DataFrame(round(df_est['category'].value_counts()/len(df_est) * 100, 2))

                             category
Cuautémoc_Hotel                 66.07
Cuautémoc_Museo                 16.07
Venustiano Carranza_Hotel        7.14
Cuauhtémoc_Mercado               7.14
Venustiano Carranza_Mercado      3.57